/*

filename: apply.css

author: Ophelia Harris

created: 7/04/2026

Last modified: 17/04/2026

description: Co.Org.E Global stylesheet

*/


/* Set the entire content of the page to be centred and 40em wide for comfy reading */
main {
  display: block;
  max-width: 40em;
  width: 100%;
  justify-content: center;
  margin: 0 auto;  
}

/* Form styled with grid */
fieldset {
  border-radius: 5px;
  border-color: var(--accent);
  margin: 2em auto;
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: flex-start;
  width: 100%;
}

/* make the legends for each section visually bold. Not applied with <strong> as a screen reader will make sections clear already. */
fieldset legend {
  font-weight: 700;
}

/* make email input a consistent size across browsers */
fieldset input[type=email] {
  max-width: fit-content;
  min-width: 60%;
}

/* Make the gender selection inline */
fieldset .gender { 
  margin: 0;
  max-width: 90%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

/* make the other skills box extend across the entire bottow row. */
fieldset .other { 
  grid-column-start: 1;
  grid-column-end: 3;
}
fieldset textarea {
  width: 30em;
}

/* taking this out of the grid required a selector with higher priority than the fieldset above */
.job_reference_number { 
  display: inline;
  margin: 0 auto;
}

/* reduce the layout to 1 column for mobile */
@media only screen and (max-width: 768px) {
  main {
    display: block;
    max-width: 90%;
    justify-content: center;
  }

  fieldset {
    grid-template-columns: 90%;
    max-width: 90%;
  }
  fieldset .gender {
    max-width: 100%;
  }
  .skills {
    display: flex;
    flex-flow: column wrap;
    max-width: 90%;
  }
  #other_skills {
    display:inline;
    max-width: min-content;
  }
  .job_reference_number {
    display: flex;
  }
  .job_reference_number * {
    padding: 0 3px;
  }
}

