/*

filename: styles.css

author: 

created: 27/03/2026

Last modified: 31/03/2026

description: Co.Org.E Global stylesheet

*/

* {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.todo {
  background-color: red;
  color: white;
}

#current_page_nav {
  background-color: blue;
  color: white;
}