/*

filename: styles.css

author: 

created: 27/03/2026

Last modified: 31/03/2026

description: Co.Org.E Global stylesheet

*/
/* GFonts import for that awesome branding 
   I could have also done this in the HTML header but that's much less portable */
@import url('https://fonts.googleapis.com/css2?family=Sansation:ital,wght@0,400;0,700;1,300;1,400;1,700&family=Zen+Dots&display=swap');

/*changes the color variables based on the users browser appearance settings*/
:root {
  --text: #15001a;
  --secondary: #3d3d3d;
  --background: #fbfbf4;
  --accent: #a5cbd9;
}
@media (prefers-color-scheme: dark) {
  :root {
    --text: #fbfbf4;
    --background: #15001a;
  }
}


/* Changing text */
h1, h2, h3, h4, h5, h6 {
  color: var(--text);
}
body {
  color: var(--text);
  background: linear-gradient(var(--background), var(--accent));
} 
h1 {
  font-family: "Zen Dots", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 300%;
}
h2 {
  font-family: "Zen Dots", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 100%;
}
th, strong, h3 {
  font-family: "Sansation", sans-serif;
  font-weight: 700;
  font-style: normal;
}
h4 {
  font-family: "Sansation", sans-serif;
  font-weight: 400;
  font-style: normal;
}
* {
  font-family: "Sansation", sans-serif;
  font-weight: 400;
}


/* Nav cluster styling using flex */
nav {
  background-color: var(--accent);
  color: var(--background);
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  padding: .5%;

 .nav_left {
    margin-right: 2em;

    a {
      margin: 0.5em;
      color: var(--text);
      text-decoration: none;
    }
  } 

  form {
    margin-left: auto;
    justify-content: flex-end;
    
    input[type=url] {
      min-width: 40em;
    }
  }

  #current_page_nav {
    color: var(--text);
    text-decoration: underline;
  }
}


footer {
  background-color: var(--accent);
  color: var(--text);
}


table {
  max-width: 100%;
}

aside {
    border: 4px inset #a5cbd9;
    border-radius: 14px;
    margin: 1em;
    padding: 1em;
    width: 25%;
    float: right;
    box-shadow: 10px 10px 5px #fbfbf4;
}

section {width: 30%;}

/* Fix the way that firefox renders all the input boxes about 50% larger than chrome */
@-moz-document url-prefix() {
  input {
    /* Don't ask me where i got that number from, it looks about right to me */
    max-width: 38.5%;
  }
} 


/* Common TODO class */
.todo {
  background-color: red;
  color: white;
}


/* about.html */
.box {
  border-top: 5px solid grey;
}